.all-browsers {
  margin: 0;
  padding: 5px;
  background-color:  #6a7571;
}

.all-browsers {
  margin: 10px;
  padding: 5px;
}

lowo.button {
  background-color: #6a7571; /* Green */
  border: none;
  color: white;
  padding: 50px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

main {
  margin: 200px
 ;
  padding: 5px;
  background-color: lightgray;
}

main > h1, p, .browser {
  margin: 5px;
  padding: 5px;
}

.browser {
  background: #0066ff;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}

.id{
  width: 50px;
}













}
